<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Dojos</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css"
</head>
<body>
    <div id="wrapper">
        <h1>Dojos!</h1>
        <form action="" method="post" id="form1">  <!--Had to be a Post because Ninjas are stealthy-->
            birth name: <input type="text" name="bname">
            Ninja Name: <input type="text" name="Nname">
            <input type="submit" value="Submit">

        </form>
    </div>
</body>
</html>